<h1>Chuck Norris Index Page</h1>
<a href="/random">Get a random Chuck Norris joke</a> <br>
<a href="/categories">See all available Chuck Norris joke categories</a>  <br>
<a href="/search">Search for Chuck Norris jokes by category</a> <br>
